body {
  margin: 0;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

.indhold {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.produkt:first-child {
  margin-left: 50%;
}

.brandnavn {
  display: flex;
  margin-top: 1%;
  grid-column: span 4;
  font-family: "Helvetica Arial", sans-serif;
}

.FASHION4U {
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  margin-top: 1%;
  grid-column: span 4;
  justify-content: left;
  font-family: "Helvetica Arial", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  font-style: normal;
  border-bottom: 2px solid grey;
}

/*toolbar og brandnavn */

img {
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  color: #000;
}

/*klasser udsalg og udsolgt*/

.pris {
  color: black;
}

.udsalg {
  display: flex;
}

.førpris {
  color: gray;
  padding-right: 10px;
  text-decoration: line-through;
}

.tekstPåBillede {
  position: absolute;
  padding: 2px;
}

.tekst {
  font-size: 1rem;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-weight: 100;
  font-style: normal;
}

.priser {
  display: flex;
  flex-direction: row;
}

.navnPåProdukt,
.mærke {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 1.5rem;
}
