body {
  display: flex;
  align-items: right;
  justify-content: center;
  margin: 0;
}

.grid_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1%;
}

img {
  width: 99%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  color: aliceblue;
}

.produkt {
  display: flex;
  flex-direction: column;
}
.pris {
  color: gray;
}

.brandnavn {
  display: flex;
  grid-column: 1/-1;
}

.udsalg {
  display: flex;
  flex-direction: row;
}

.førpris {
  color: gray;
  padding-left: 5%;
  text-decoration: line-through;
}

.tekstPåBillede {
  position: absolute;
  background-color: #e8e8e8;
  padding: 2px;
}

.tekst {
  font-size: 1rem;
  font-family: "Helvetica neue", sans-serif;
  font-weight: 100;
}
