body {
  background-color: #e8e8e8;
}

h1 {
  color: black;
  font-family: "bebas neue";
  font-size: 5rem;
}

h3,
h2,
p {
  color: black;
}
* {
  margin: 0;
}

div {
  font-family: "noto-sans", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
}
